html, body {
  height: 100%;
  width: 100%;
  margin:0;
}


#root, #router, #load{
  height: 100%
}

#file-selects {
  display: flex;
  height: 79%;
  max-width: 1000px;
  margin:0 auto;
}

#compare-action {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#compare-action button {
  margin-right: 10px;
}

.file-select {
  flex:1;
  height: 97%;
  border: 2px dashed #3f51b5;
  border-radius: 10px;
  margin:10px 20px 0 20px;
}

.file-select__path, .file-select__btn {
  height: 5%;
  margin:10px;
}

.file-select__path {
  margin:5px;
}

.file-select__zone {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-select__btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin:-25px 0 0 0;
}

.file-select__btn button {
  margin-right: 10px
}

#thumbnails {
  min-width: 250px;
  overflow-y: scroll;
  background: #4e4e4e;
}

#thumbnails ul {
  list-style: none;
}

.thumbnail__img, .thumbnail__index {
  width: 150px;
}

.thumbnail__index {
  text-align: center;
}

#overlook {
  display: flex;
  height: 100%;
}

#image-viewer {
  height: 100%;
  width: 100%;
  background: #f1f1f1;
}

.imgView__title {
  position: absolute;
  top:5px;
  left: 5px;
  width:100px;
  background:#4e4e4e;
  color: white;
  text-align: center;
  height: 20px
}


.image-viewer__diff {
  height:50%;
}

.imgView.diff {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border:0.1px solid;
  height: 100%;
}

.image-viewer__diff .imgView__img {
  height: 90%;
}

.image-viewer__compare {
  height:50%;
  display: flex;
}

.imgView.left, .imgView.right {
  flex:1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-left:0.1px solid;
  border-bottom:0.1px solid;
}

.imgView.right {
  border-right: 0.1px solid;
}

.imgView.left .imgView__img,
.imgView.right .imgView__img {
  max-width: 500px;
  max-height: 80%;
}

.imgView__btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color:white;
  width: 35px;
  height:35px;
  border-radius: 50%;
}